@font-face 
{
    font-family: 'republic';
    src: url('republic-heavy-webfont.woff') format('woff');
}
@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
    --color-background: #000000;
    --color-header: #839098;
    --color-paragraph: #FD30A7;
    --color-button-hollow-default: #839098;
    --color-button-hollow-selected-fg: #000000;
    --color-button-hollow-selected-bg: #FD30A7;
    --color-button-opaque-selected-bg: #839098;
    --color-button-opaque-selected-fg: #191919;
    --color-button-opaque-hover-bg: #839098;
    --color-button-opaque-hover-fg: #191919;
    --color-button-opaque-default-bg: #191919;
    --color-button-opaque-default-fg: #839098;
    --color-tile-bg: #000000;
    --color-tile-fg: #EBE6E2;
    --color-scrollbar: #FD30A7;
    --color-scrollbar-thumb: #000000;
    --color-link: #FD30A7;
}

body::-webkit-scrollbar 
{
    width: 4px;
    background-color: var(--color-scrollbar);
}

body::-webkit-scrollbar-track
{
}

body::-webkit-scrollbar-thumb
{
    background-color: var(--color-scrollbar-thumb);
    outline: 1px solid slategrey;
}

h1 
{
    color: var(--color-header);
    font-family: republic;
    font-size: 300%;
    
    margin-bottom: 0px;
    letter-spacing: -2px;
    white-space: nowrap;
}

h4
{
    font-family: republic;
    background-color: transparent;
    color: inherit;
    font-size: 16px;

    position: absolute;
    margin-block: 0px;
    bottom: 3px;
    left: 7px;
}

h5 
{
    font-family: republic;
    background-color: transparent;
    color: inherit;
    font-size:16px;

    position:absolute;
    margin-block:0px;
    bottom:0px;
    left:4px;
}

/*
h5:after
{
    content:"_";
    animation:Blinking 0.5s infinite;
}

h4:after
{
    content:"_";
    animation:Blinking 0.5s infinite;
}
*/

p 
{
    color: var(--color-paragraph);
    font-family: republic;
    white-space: nowrap;
    height: 100%;
    margin: 0px;
    margin-left:2px;
}

p2 
{
    color: var(--color-tile-text);
    font-family: 'Roboto', sans-serif;
    font-size: min(max(1.5vw, 14px), 16px);
    line-height: min(max(3vw, 16px), 28px);
    position: absolute;
    top: 24px;
    left: 32px;
    max-width: 40%;
}

a 
{
    color:  var(--color-link);
}

.pButton
{
    box-sizing:border-box;
    display: inline-block; 
    font-family: republic;
    background-color: var(--color-button-hollow-default);
    color: var(--color-button-hollow-default);

    vertical-align:bottom;
    width:128px;
    height:38px;
    margin-top:4px;
    padding:2.5px;

    clip-path: polygon(90% 0, 95% 10%, 100% 10%, 100% 100%, 0 100%, 0 0);
}

.pButton:hover
{
    margin-top:0px;
    height: 42px;
}

.pButtonInside
{
    position:relative;
    box-sizing:border-box;
    font-family: inherit;
    background-color: var(--color-background);
    color: inherit;
    width:100%;
    height:100%;

    clip-path: polygon(91% 0, 96% 10%, 100% 10%, 100% 100%, 0 100%, 0 0);
}

.tileButton 
{
    color: var(--color-button-opaque-default-fg);
    background-color: var(--color-button-opaque-default-bg);

    display: inline-grid;
    position:relative;
    width: 278px;
    height: 38px;      
    margin-bottom:0px;
    margin-right:4px;

    clip-path: polygon(0 0, 0 20%, 0 20%, 0 100%, 0 100%, 0 0);
	animation: ClipIn_Left_TileButton 0.3s 0.0s 1 normal forwards;
}

.tileButton:hover 
{
    background-color: var(--color-button-opaque-hover-bg) !important;
    color: var(--color-button-opaque-hover-fg) !important;
}


.panelParent
{
    display: block;
    position: absolute;
    top: 178px;
    bottom: 0px;
    right: 8px;
    left: 0px;
    overflow: hidden;
}

.panel
{
    position: relative;
    display: table;
    max-width: 1400px;
    height:100%;
}

.tileExtended
{
    background-color: transparent;

    display: block;
    position:relative;
    width: 99%;
    max-width: 85vw;
    max-height:50vw;
    height: 0px;
    margin-bottom:4px;

    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
	animation: ClipIn_Left_TileExtended 0.5s 0.05s 1 normal forwards;
}

.tileA
{
    color: var(--color-tile-fg);
    background-color: var(--color-tile-bg);

    display: block;
    position:relative;
    width: 100%;
    height: 100%;      
    margin:  0px;
    padding: 0px;

    clip-path: polygon(0   0,  0% 6%,  0% 6%,  0% 100%, 0 100%, 0 0);
	animation: ClipIn_Left_Tile 0.5s 0.05s 1 normal forwards;
}

.info 
{
    color: var(--color-tile-fg);
    background-color: var(--color-tile-bg);
    font-family: 'Roboto', sans-serif;
    position: relative;
    max-width:900px;
    height: 0px;
    padding-left:32px;
    padding-right:min(256px, 12vw);
    padding-top:24px;
    margin-bottom:4px;
    font-size: min(max(1.5vw, 14px), 16px);
    line-height: min(max(3vw, 16px), 28px);

    clip-path: polygon(0% 0, 0% 6%, 0% 6%, 0% 100%, 0 100%, 0 0);
    animation: ClipIn_Left_Info 0.5s 0.25s 1 normal forwards;
}

.imageTR 
{
    float:right;
    position: sticky;
    height: 100%;
    max-width: 50%;
    clip-path: inherit;
}

.imageBC
{
    position: relative;
    height:100%;
    width:100%;
    clip-path: polygon(90% 0, 95% 5%, 100% 5%, 100% 100%, 0 100%, 0 0);
	animation: ClipIn_Left 0.3s 0.0s 1 normal forwards;
}

.imageBC img 
{
    object-fit:fill;
    height: 100%;
    clip-path:inherit;
}

.videoBC 
{
    display:block;
    position: relative;
    margin-right:4px;
    margin-bottom:4px;
    top: 0px;
    right: 0px;
    width: 100%;
    max-height: 278px;
    clip-path: polygon(0 0, 0% 100%, 0 100%, 0 0);
    animation: ClipIn_Left_TileVideo 0.5s 0.0s 1 normal forwards;
}


video
{
    clip-path: inherit;
}

object 
{
    width: 100%;
    height: 100%;
    min-height: inherit;
    overflow: hidden;
}

body.root
{
    background-color: var(--color-background);
    position: absolute;
    overflow: hidden;
    vertical-align: top;
    margin-left: min(72px, 4vw);
    left: 0px;
    right: 0px;
    min-height: 100%;
    zoom: 1.125;
}

body.panel 
{
    background-color: transparent;
    overflow-x: hidden;
    overflow-y: visible;
    margin-top: 0px;
    margin-left: 0px;
    zoom: 1.125;
}

body.tile 
{
    background-color: transparent;
    overflow: hidden;
    margin: 0px;
    width: 100%;
    height: 100%;
    zoom: 1.125;
}

@keyframes Blinking
{ 
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes ClipIn_Left 
{ 
    0%   {clip-path: polygon(0 0, 0% 100%, 0 100%, 0 0);} 
    100% {clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);} 
}

@keyframes ClipIn_Left_Info 
{ 
    0%  {height:0px;    clip-path: polygon(0 0, 0 6%, 0 6%, 0 100%, 0 100%, 0 0);} 
    40% {height:320px;  clip-path: polygon(0 0, 0 6%, 0 6%, 0 100%, 0 100%, 0 0);} 
    60% {height:320px;  clip-path: polygon(0 0, 0 6%, 0 6%, 0 100%, 0 100%, 0 0);} 
    100% {height:320px; clip-path: polygon(95% 0, 97.5% 6%, 100% 6%, 100% 100%, 0 100%, 0 0);} 
}

@keyframes ClipIn_Left_TileExtended 
{ 
    0%  {height:0px;  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);} 
    40% {height:320px; clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);} 
    60% {height:320px; clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);} 
    100% {height:320px; clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);} 
}

@keyframes ClipIn_Left_TileExtendedTall
{ 
    0%  {height:0px;  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);} 
    40% {height:75vh; clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);} 
    60% {height:75vh; clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);} 
    100% {height:75vh; clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);} 
}

@keyframes ClipIn_Left_TileVideo
{ 
    0%  {height:0px;  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);} 
    40% {height:278px; clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);} 
    60% {height:278px; clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);} 
    100% {height:278px; clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);} 
}

@keyframes ClipIn_Left_Tile 
{ 
    0%   {clip-path: polygon(0   0,  0 6%,  0 6%,  0 100%, 0 100%, 0 0);} 
    100% {clip-path: polygon(95% 0, 97.5% 6%, 100% 6%, 100% 100%, 0 100%, 0 0); } 
}

@keyframes ClipIn_Left_TileButton 
{  
    0%   {clip-path: polygon(0 0,  0 20%,  0 20%,  0 100%, 0 100%, 0 0);} 
    25%   {clip-path: polygon(0 0,  0 20%,  0 20%,  0 100%, 0 100%, 0 0);} 
    100% {clip-path: polygon(90% 0, 95% 20%, 100% 20%, 100% 100%, 0 100%, 0 0);} 
}
