@font-face
{
    font-family: 'republic';
    src: url('konstatoivanen.github.io/republic-heavy-webfont.woff');
}
@import url('https://fonts.googleapis.com/css?family=Roboto');

body::-webkit-scrollbar {
    width: 4px;
    background-color: #191919;
}

body::-webkit-scrollbar-track {
}

body::-webkit-scrollbar-thumb {
    background-color: #00B2FF;
    outline: 1px solid slategrey;
}

h1 
{
    color: #EBE6E2;
    font-family: republic;
    font-size: 300%;
    
    margin-left:64px;
    margin-bottom: 0px;
    letter-spacing: -2px;
    white-space: nowrap;
}
h2
{
    color: #EBE6E2;
    font-family: Republic; 
    font-size: 18px;

    display:inline-block;
    white-space:nowrap;
    height: 32px;
    margin-top: 2px;
    margin-left:4px;
    padding-top: 2px;
}
h3
{
    color: #EBE6E2;
    font-family: Republic; 
    font-size: 18px;
    
    display:inline-block;
    white-space:nowrap;
    height: 16px;
    margin: 8px;
    left:  0px;
    right: 0px;
}
h4 
{
    color: #EBE6E2;
    font-family: Republic;
    font-size: 18px;
    
    display: inline-block;
    white-space: nowrap;
    margin-top:  32px;
    margin-left: 4px;
}
p 
{
    color: #EBE6E2;
    font-family: republic;
    white-space: nowrap;
    height: 100%;
    margin: 0px;
}
p:before
{
    content: '';               
    height: 100%;
    position:relative;
    background-color: #00B2FF;
    border-left: 4px solid #00B2FF;
    left: -8px;
}

.buttonContainer
{
    content: "";
    position: sticky;
    white-space:nowrap;
}
.pButton
{
    display: inline-block; 
    font-family: republic;
    background-color: #262626;
    color: #EBE6E2;

    margin-top: 4px;
    position:relative;
    height: 100%;
    width: 128px;
    padding-left: 10px;
    padding-bottom: 4px;
    padding-top: 14px;
    clip-path: polygon(90% 0, 95% 10%, 100% 10%, 100% 100%, 0 100%, 0 0);
}
.pButton:hover
{
   padding-top: 18px;
   margin-top: 0px;
}

.panelParent
{
    display: block;
    position: absolute;
    top: 178px;
    bottom: 0px;
    right: 8px;
    left: 0px;
    margin-left: 66px;
    overflow: hidden;
}

.panel
{
    position: relative;
    display: table;
    content: "";
    left: 0px;
    top: 0px;
}


.tileA
{
    color: #EBE6E2;
    background-color: #191919;

    display: inline-grid;
    position:relative;
    width: 512px;
    height: 256px;      
    margin-bottom: 4px;
    margin-right:4px;
    padding-top: 4px;
    padding-left: 8px;

    border-left: 4px solid  #00B2FF;

    clip-path: polygon(0   0,  5% 5%,  10% 5%,  10% 100%, 0 100%, 0 0);

	-webkit-backface-visibility: hidden;

	-webkit-animation:	ClipIn_Left_TileA 0.5s 0.05s 1 normal forwards;
	-moz-animation:		ClipIn_Left_TileA 0.5s 0.05s 1 normal forwards;
	-o-animation:		ClipIn_Left_TileA 0.5s 0.05s 1 normal forwards;
	animation:			ClipIn_Left_TileA 0.5s 0.05s 1 normal forwards;
}
.tileB
{
    color: #EBE6E2;
    background-color: #262626;

    display: inline-grid;
    position:relative;
    width: 512px;
    height: 256px;      
    margin:  0px;
    padding: 0px;
    margin-right: 4px;
    margin-bottom: 4px;

    clip-path: polygon(0   0,  5% 2.5%,  10% 2.5%,  10% 100%, 0 100%, 0 0);

	-webkit-animation:	ClipIn_Left_TileB 0.5s 0.05s 1 normal forwards;
	-moz-animation:		ClipIn_Left_TileB 0.5s 0.05s 1 normal forwards;
	-o-animation:		ClipIn_Left_TileB 0.5s 0.05s 1 normal forwards;
	animation:			ClipIn_Left_TileB 0.5s 0.05s 1 normal forwards;
}

.info 
{
    color: #EBE6E2;
    font-family: 'Roboto', sans-serif;
    display: inline-grid;
    position: relative;
    border-left: 4px solid #00B2FF;
    width: 574px;
    height: 256px;
    margin-top: 0px;
    padding-top: 4px;
    padding-left: 16px;
    padding-right: 16px;
}

.imageTR 
{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    clip-path: inherit;
}
.imageBC
{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;

    clip-path: polygon(0    0,   0% 100%, 0 100%, 0 0);

	-webkit-animation:	ClipIn_Left 0.5s 0.05s 1 normal forwards;
	-moz-animation:		ClipIn_Left 0.5s 0.05s 1 normal forwards;
	-o-animation:		ClipIn_Left 0.5s 0.05s 1 normal forwards;
	animation:			ClipIn_Left 0.5s 0.05s 1 normal forwards;
}

.descr
{
    color: #EBE6E2;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;

    position: absolute;

    top : 42px;
    left: 12px;

    line-height: 22px;
}

video
{
    clip-path: inherit;
}

object 
{
    width: 100%;
    height: 100%;
    min-height: inherit;
    overflow: hidden;
}

body 
{
    background-color: #0C0C0C;
    overflow-x: hidden;
    overflow-y: visible;
}

@keyframes			ClipIn_Left { 0%   {clip-path: polygon(0    0,   0% 100%, 0 100%, 0 0);} 100% {clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);} }
@-moz-keyframes		ClipIn_Left { 0%   {clip-path: polygon(0    0,   0% 100%, 0 100%, 0 0);} 100% {clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);} }
@-webkit-keyframes	ClipIn_Left { 0%   {clip-path: polygon(0    0,   0% 100%, 0 100%, 0 0);} 100% {clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);} }
@-o-keyframes		ClipIn_Left { 0%   {clip-path: polygon(0    0,   0% 100%, 0 100%, 0 0);} 100% {clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);} }

@keyframes			ClipIn_Left_TileA { 0%   {clip-path: polygon(0   0,  5% 5%,  10% 5%,  10% 100%, 0 100%, 0 0);} 100% {clip-path: polygon(90% 0, 95% 5%, 100% 5%, 100% 100%, 0 100%, 0 0);} }
@-moz-keyframes		ClipIn_Left_TileA { 0%   {clip-path: polygon(0   0,  5% 5%,  10% 5%,  10% 100%, 0 100%, 0 0);} 100% {clip-path: polygon(90% 0, 95% 5%, 100% 5%, 100% 100%, 0 100%, 0 0);} }
@-webkit-keyframes	ClipIn_Left_TileA { 0%   {clip-path: polygon(0   0,  5% 5%,  10% 5%,  10% 100%, 0 100%, 0 0);} 100% {clip-path: polygon(90% 0, 95% 5%, 100% 5%, 100% 100%, 0 100%, 0 0);} }
@-o-keyframes		ClipIn_Left_TileA { 0%   {clip-path: polygon(0   0,  5% 5%,  10% 5%,  10% 100%, 0 100%, 0 0);} 100% {clip-path: polygon(90% 0, 95% 5%, 100% 5%, 100% 100%, 0 100%, 0 0);} }

@keyframes			ClipIn_Left_TileB { 0%   {clip-path: polygon(0   0,  5% 2.5%,  10% 2.5%,  10% 100%, 0 100%, 0 0);} 100% {clip-path: polygon(90% 0, 95% 2.5%, 100% 2.5%, 100% 100%, 0 100%, 0 0);} }
@-moz-keyframes		ClipIn_Left_TileB { 0%   {clip-path: polygon(0   0,  5% 2.5%,  10% 2.5%,  10% 100%, 0 100%, 0 0);} 100% {clip-path: polygon(90% 0, 95% 2.5%, 100% 2.5%, 100% 100%, 0 100%, 0 0);} }
@-webkit-keyframes	ClipIn_Left_TileB { 0%   {clip-path: polygon(0   0,  5% 2.5%,  10% 2.5%,  10% 100%, 0 100%, 0 0);} 100% {clip-path: polygon(90% 0, 95% 2.5%, 100% 2.5%, 100% 100%, 0 100%, 0 0);} }
@-o-keyframes		ClipIn_Left_TileB { 0%   {clip-path: polygon(0   0,  5% 2.5%,  10% 2.5%,  10% 100%, 0 100%, 0 0);} 100% {clip-path: polygon(90% 0, 95% 2.5%, 100% 2.5%, 100% 100%, 0 100%, 0 0);} }